* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#container {
  display: flex;

  /* justify-content: space-evenly; */
  background-color: #e1e1e1;
}

#game-board {
  background-color: #8dbfff;
  margin: 0 auto;
  display: grid;

  grid-template-columns: repeat(15, 1fr);
  grid-template-rows: repeat(15, 1fr);
}
#right-board {
  background-color: #333;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* display: none; */
  /* width: 10%; */
  gap: 4rem;
}
#inventory {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 60px;
  align-items: center;
  justify-content: center;
}
#tools {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}
#tools .pic {
  border: 2px solid #fff;
  padding: 3rem;
}
#tools #axe {
  background: url("../assets/axe.png") no-repeat center center/cover;
}
#tools #shovel {
  background: url("../assets/shovel.png") no-repeat center center/cover;
}
#tools #pickaxe {
  background: url("../assets/pickaxe.png") no-repeat center center/cover;
}
#game-board > div {
  width: 60px;
  height: 60px;
}

/* .sky{
    background-color: #8DBFFF ;

} */
.grass {
  background: url("../assets/Leaf_2.png") no-repeat center center/cover;
  width: 60px;
  height: 60px;
}
.rock {
  background: url("../assets/stone.png") no-repeat center center/cover;

  width: 60px;
  height: 60px;
}
.dirt-top {
  background: url("../assets/grass_block_side.png") no-repeat center
    center/cover;
  width: 60px;
  height: 60px;
  position: relative;
}
.dirt {
  background: url("../assets/dirt.png") no-repeat center center/cover;
  width: 60px;
  height: 60px;
}
.tree {
  background: url("../assets/Log_1.png") no-repeat center center/cover;
  width: 60px;
  height: 60px;
}

.box {
  width: 60px;
  height: 60px;
}

.counter {
  /* top: 0; */
  font-size: 1.5rem;

  text-align: center;
  color: #fff;
  /* font-weight: bold; */
  /* width: 10px; */

  /* position: absolute; */
  /* background-color: aqua; */
}

@media (max-width: 1200px) {
  #container {
    /* flex-direction: column;
    align-items: center;
    justify-content: center; */
    flex-direction: column;
    justify-self: center;
    align-items: center;
    gap: 1rem;
  }
  #right-board {
    /* align-self: flex-start; */
    /* flex: 1; */
    display: grid;
    grid-template-columns: auto;
    /* width: 900px; */
  }
  #game-board {
    /* display: none; */
  }
}
